.container{
  height: 200vh;
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

.iphone{
  display: inline-block;
  margin-top: 150px;
  border: 1px solid red;
  position: relative;
  transition: .1s;
}

.shape{
  background-image: url(img/shape.jpg);
  width: 128px;
  height: 128px;
  position: absolute;
  top:75px;
  right: 161px;
  background-position: -54px;
  -webkit-mask-image:url(img/apple-mask.png);
  mask-image:url(img/apple-mask.png);
}
